body {
    font-family: sans-serif;
}
head {
    background-color: navy;
    color: lightblue;
    border-radius: 15px;
}
head a{
color: white;
font-size: 20px;
}
h1{
    color: navy;
    text-align: center;
    font-size: 35px;
}
footer{
   border: 3px solid grey; 
}
